<tr>
  <td><%= index %></td>
  <td><%= object.products.count %></td>
  <td><%= object.published_at %></td>
  <td><%= link_to "Publish", publish_product_line_path(object) if !object.published_at? %></td>
  <td><%= link_to "Add Product", add_product_product_line_path(object) if !object.published_at? %></td>
</tr>
